<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pensieve.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        
        <!-- NOTE: This may need to be commented out when testing on an emulator or other non-Glass device (do we even need it on Glass? - packaged gdk.jar contains the library, right?). -->
        <!-- <uses-library
            android:name="com.google.android.glass"
            android:required="true" /> -->
        
        <activity
            android:name="pensieve.android.SensorStreamActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:screenOrientation="landscape" android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            
            <!-- NOTE: Glassware apps should only be launched by a voice trigger intent, so this intent-filter should be disabled for release versions. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /> <!-- -->
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/show_sensor_stream" />
        </activity>
    </application>

</manifest>
